.navbar-brand{
    margin-left: 38%;
    font-size: 50px;
}

.container{
    margin-left: unset;
}

#sideCard{
    background-image: linear-gradient(to bottom, rgb(196, 196, 196), white);
    padding-bottom: 75%;
}

#searchButton{
    padding-right: 25px;
    padding-left: 16px;
}

.searchHistory{
    padding-right: 90px;
    padding-left: 16px;
}

.mainCard{
    font-size: large;
}

#cityName{
    font-size: larger;
    font-weight: 700;
}

.uvLow{
    display: inline-flex;
    background-color: lightgreen;
}

.uvMod{
    display: inline-flex;
    background-color: yellow;
}

.uvHigh{
    display: inline-flex;
    background-color: darkorange;
    color: white;
}

.uvVeryHigh{
    display: inline-flex;
    background-color: darkred;
    color: white;
}

.uvExtreme{
    display: inline-flex;
    background-color: rebeccapurple;
    color: white;
}

#fiveDayForecast{
    font-size: xx-large;
    font-weight: bolder;
}

/* #fiveDayStyling{
    
} */