.navbar-brand{
    margin-left: 38%;
    font-size: 50px;
}

#sideCard{
    background-image: linear-gradient(to bottom, rgb(196, 196, 196), white);
    padding-bottom: 75%;
}

#searchButton{
    padding-right: 25px;
    padding-left: 16px;
}

.searchHistory{
    padding-right: 90px;
    padding-left: 16px;
}

.mainCard{
    font-size: large;
}

#cityName{
    font-size: larger;
    font-weight: 700;
}

.uvLow{
    display: inline-flex;
    background-color: lightgreen;
}

.uvMod{
    display: inline-flex;
    background-color: yellow;
}

.uvHigh{
    display: inline-flex;
    background-color: darkorange;
    color: white;
}

.uvVeryHigh{
    display: inline-flex;
    background-color: darkred;
    color: white;
}

.uvExtreme{
    display: inline-flex;
    background-color: rebeccapurple;
    color: white;
}

#uvIndex{
    border-radius: 5px;
    opacity: 20px;
}

#fiveDayForecast{
    font-size: xx-large;
    font-weight: bolder;
}

#fiveDayStyling{
    color: white;
}

#day1Forecast{
    background-color: rgb(91, 112, 231);
    margin-left: 7PX;
    margin-right: 7PX;
    border-radius: 5px;
    opacity: 95%;
}

#day2Forecast{
    background-color: rgb(91, 112, 231);
    margin-left: 7PX;
    margin-right: 7PX;
    border-radius: 5px;
    opacity: 95%;
}

#day3Forecast{
    background-color: rgb(91, 112, 231);
    margin-left: 7PX;
    margin-right: 7PX;
    border-radius: 5px;
    opacity: 95%;
}

#day4Forecast{
    background-color: rgb(91, 112, 231);
    margin-left: 7PX;
    margin-right: 7PX;
    border-radius: 5px;
    opacity: 95%;
}

#day5Forecast{
    background-color: rgb(91, 112, 231);
    margin-left: 7PX;
    margin-right: 7PX;
    border-radius: 5px;
    opacity: 95%;
}